doctype html
head
  meta(charset='UTF-8')
  title NAS
  link(rel="stylesheet", href="/stylesheets/style.css")
  link(rel="stylesheet", href="/stylesheets/icon.css")
body
  #mainbar
    h1#logo.neon NAS
    block button

    block menu

  block content

  block js

